.category-btn{
  border-radius: 20px;
  background-color: black;
  border: none;
  margin-bottom: 10px;
 
}
.category-btn:hover{
  background-color: red;
}
.category-btn span{
  color: white;
}
.react-player{
  width: 300px;
  height: 70vh;
}