html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
.category-btn{
  border-radius: 20px;
  background-color: black;
  border: none;
  margin-bottom: 10px;
}
  
.category-btn:hover{
  background-color: #FC1503!important;
  color: white!important;
}
.category-btn:hover span{
  color: white!important;
}
.react-player{
  height: 77vh!important;
  width: 100%, !important;
}
.search-bar{
  border: none;
  outline: none;
  width: 350px;
}
@media screen and (max-width:600px) {
  .vedio{
    width: 100%;
  }
  .search-bar{
    width: 200px;
  }
.category-btn{
  padding: 7px;
  margin-left: 7px;
}

}